.problem-font {
    font-size: 156px;
    color: #888888;
}

.submit-form {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-color: #888888;
    text-align: center;
    width: 400px;
    height: 100px;
    font-size: 28px;
    outline: none;
}

.submit-answer {
    text-align: center;
    color: #fff;
    margin: 10px;
}

.kanji-question-gray {
    background-color: #444648;
}

.kanji-question-right {
    background-color: green;
}

.kanji-question-wrong {
    background-color: red;
}

.home-image {
    max-width: 1169px;
    max-height: 1000px;

}

.senta-row {
    margin: 5px;
}

.senta-button {
    margin: 5px;
    font-size: 36px;
}

.navbar-brand-customer {
    margin: 5px;
}