.problem-font {
    font-size: 156px;
    color: #888888;
}

.submit-form {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    text-align: center;
    width: 400px;
    height: 100px;
    font-size: 28px;
    outline: none;
    background-color: #444648;
    color: #fff;
}

.submit-answer {
    text-align: center;
    color: #444648;
    margin: 10px;
}

.kanji-question-gray {
    background-color: #444648;
}

.kanji-question-right {
    background-color: green;
}

.kanji-question-wrong {
    background-color: red;
}

.home-image {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.senta-row {
    margin: 5px;
}

.senta-button {
    margin: 5px;
    font-size: 36px;
    border-color: #fff;
    color: #fff;
}

.senta-button:hover {
    background-color: #444648;
    border-color: #fff;
}

.navbar-brand-customer {
    margin: 5px;
}

.main-col {
    background-color: #444648;
    height: 50em;
    width: 100%;
}

.welcome-col {
    text-align: center;
    margin: 15px;
}

.welcome-text {
    font-size: 32px;
    color: #bbb
}

.empty-blank {
    height: 200px;
}

.hint {
    text-align: center;
    color: #fff;
}

.key {
    background-color: #646669;
    border-radius: 0.3rem;
    padding: .1rem .3rem;
}

